<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add a new recipe</title>
    <meta http-equiv="Content-Type" content="txt/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body class="bg-light">
<div class="container">
    <h2>Add a new recipe</h2>
    <form th:object="${recipe}" th:action="@{save}" action="#" method="post">
        <table>
                <tr>
                    <td><label for="title">Title</label></td>
                    <td><input type="text" id="title" th:field="*{title}" /></td>
                </tr>
                <tr>
                    <td><label for="time">Time in minutes</label></td>
                    <td><input type="text" id="time" th:field="*{time}" /></td>
                </tr>

                <tr>
                    <td><label for="source">Source</label></td>
                    <td><input type="text" id="source" th:field="*{source}" /></td>
                </tr>
                <tr>
                    <td><label for="link">Link</label></td>
                    <td><input type="text" id="link" th:field="*{link}" /></td>
                </tr>
                <tr>
                    <td><label for="catlist">Category</label></td>
                    <td><select id="catlist" th:field="*{category}"
                        class="form-control">
                            <option th:each="category : ${categories}"
                                th:value="${category.categoryid}" th:text="${category.name}"></option>
                    </select></td>
                </tr>
                <tr>
                    <td><input class="btn btn-success" type="submit" value="Save" /></td>
                </tr>
            </table>
    </form>
</div>
</body>
</html>