<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recipe Bank</title>
    <meta http-equiv="Content-Type" content="txt/html: charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
</head>
<body>
  <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Recipe Bank</h1>
          <h5>Welcome to Emmi's recipe bank!</h5>
          <p class="lead text-muted">Please log in to access my list of recipes. If you don't have an account, start by creating one now.</p>
          <p>
            <a href="/recipelist" class="btn btn-primary my-2">Log in</a>
            <a href="/register" class="btn btn-secondary my-2">Sign up</a>
          </p>
        </div>
      </section>
    </main>
</body>
</html>